:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --blue-color: linear-gradient(138deg, #3043a9 0%, #1f629f 100%);
    --dark-blue-color: #161d2f;
    --text-color: #222;
    --white-color: #fff;
    
}