.benefits {
    padding: 100px 0;
    margin-bottom: 100px;
    .section-subtitle {
        text-align: center;
        margin-bottom: -21px;
    }
    .benefits__title {
        text-align: center;
        position: relative;
        padding-top: 31px;
        padding-left: 90px;
        padding-right: 90px;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 30px;
        &::before, &::after {
            position: absolute;
            content: '';
            width: 71px;
            height: 60px;
            background-repeat: no-repeat;
            background-position: center;
            top: 0;
        }
        &::before {
            background-image: url('../../images/benefits/quotes.svg');
            left: 0;
        }

        &::after {
            background-image: url('../../images/benefits/quotes-end.svg');
            right: 0;
        }
    }
    .benefits-numbers {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 50px;
        &__item {
            width: 285px;
            padding: 0 15px;
            border-right: 1px solid rgba(22, 29, 47, 0.4);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:last-child {
                border-right: none;
            }
            &-main {
                font-family: var(--second-family);
                font-weight: 800;
                font-size: 48px;
                line-height: 133%;
                color: var(--dark-blue-color);
            }
            &-descr {
                font-size: 18px;
                line-height: 178%;
                color: var(--dark-blue-color);
            }
        }
    }

    .benefits__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        .benefits-item {
            display: flex;
            gap: 30px;
            align-items: flex-start;
            &__img {
                width: 70px;
                height: 70px;
                padding: 10px;
                background-color: #c2d8fe;
                border-radius: 50%;
            }
            &__title {
                font-weight: 600;
                font-size: 28px;
                text-transform: capitalize;
                color: var(--dark-blue-color);
                margin-bottom: 5px;
            }
            &__descr {
                font-weight: 300;
                font-size: 16px;
                line-height: 187%;
                text-transform: capitalize;
            }
        }
       
    }
    
   
    
}
