.header {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    min-height: 100vh;
    &__inner {
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu {
            &-list {
                display: flex;
                align-items: center;
                gap: 40px;
                &__item {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 150%;
                    transition: all 0.3s;
                    &.active {
                        font-weight: 500;
    
                    }
                    &:hover {
                        font-weight: 500;
    
                    }
                }
            }
        }
        
        .header__btn {
            width: 157px;
        }
    }

    .promo {
        padding: 55px 0 50px;
        text-align: center;
        &__subtitle {
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 10px;
        }

        &__title {
            font-weight: 700;
            font-size: 62px;
            line-height: 150%;
            margin-bottom: 20px;
        }

        &__text {
            font-weight: 300;
            font-size: 15px;
            line-height: 200%;
            text-transform: capitalize;
            margin-bottom: 30px;
        }

        &__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-bottom: 30px;
            .promo__btn {
                width: 157px;
            }
        }
    }
}

